/* .spinnerFullpage {
  margin: 2.5rem;
  height: calc(100vh - 5rem);
  background-color: var(--color-dark--1);
} */

.spinnerFullpage {
  margin: 2.5rem;
  height: calc(100vh - 5rem);
  background-color: var(--color-dark--1);
}

@media (max-width: 767.98px) {
  .spinnerFullpage {
    height: calc(100vh - 3rem);
  }
}
